{% extends 'master.html' %}

{% block fullblock %}
{% load static %}
<div id="slider" class="owl-carousel">
  <div class="item"><img style="object-fit: contain;" class="carousel-image" src="{% static 'g-graduation.jpg' %}" alt="Carousel Image"></div>
  <div class="item"><img style="object-fit: contain;" class="carousel-image" src="{% static 'm-graduation.jpg' %}" alt="Carousel Image"></div>
  <div class="item"><img style="object-fit: contain;" class="carousel-image" src="{% static 'barral-family.jpg' %}" alt="Carousel Image"></div>
</div>
{% endblock %}

{% block paddedblock %}

  <p>
    Founded in 2013 by Gerard and Mary Barral. The Barral's are graduates of the Zion Bible Institue-Township
    of Barrington, State of Rhode Island under the leadership of Dr. Benjamin Crandall and Dean, Patrick Gallagher.
    Class of 2000. Both hold their Bachelor's degrees in Biblical Theology and Minors in Pastoral Ministries.
    <br /><br />
    In addition, they are proud parents of Victoria, Junior at Berklee's College of Music, and Samuel, Senior with Honors
    and Distinction as Dallas-Senior High School. Gerard and Mary have been married for 21 years, a real life experience.
    In addition to their children, they love their dog, Oreo.
    <br />
    <br />
    It is their joy to spread the message of the gospel of The Lord, Jesus Christ and His Kingdom. The areas of
    ministerial focus will be multifaceted as express in their <a href="/our-mission/">mission</a>, <a href="/our-vision/">vision</a>,
    and <a href="/core-values/">core values</a> of LIFT Church.
    <br /><br />
    With the mindset and spirit of an entrepreneur, Gerard also formed his own company in 2017 - We Got the Power LLC.
    which is currently in successful operation.
  </p>

{% endblock %}
