{% extends 'master.html' %}

{% block fullblock %}{% endblock %}

{% block paddedblock %}
<h1 style="font-family: 'Oswald', sans-serif; font-size: 45px; margin-bottom: 36px;">Core Values:</h1>

<p>
  <ul class="ministries-list">
    <li class="bold-list-item">
      Agape Love:
    </li>
    <li>
      Why love? Because it never fails and it shows we are born of God.
      (1st Cor. 13, 1st John 4:7-8)
    </li>
    <li><br /><br /></li>

    <li class="bold-list-item">
      Mercy:
    </li>
    <li>
      Why mercy? Because it triumphs over judgement.
      (James 2:13)
    </li>
    <li><br /><br /></li>

    <li class="bold-list-item">
      Personal Relationships:
    </li>
    <li>
      "No man is an island" It's not about how much you know, but how much
      you care. We need one another.
      (Psalms 133)
    </li>
    <li><br /><br /></li>

    <li class="bold-list-item">
      Discipleship:
    </li>
    <li>
      We will forever be learning and a disciple <span style="font-style: italic">
      (greek: mathetes: is a learner, not only a pupil or student, but an adherent
      to the teachings of Christ).</span>
    </li>
    <li><br /><br /></li>

    <li class="bold-list-item">
      Testimony:
    </li>
    <li>
      Tell the story - your story - we all have one and we are overcome by this
      and God receives the Glory, Honor, and Praise.
      (Rev. 12:11)
    </li>
    <li><br /><br /></li>

    <li class="bold-list-item">
      Believe:
    </li>
    <li>
      We want to come into agreement with your God-given dreams and goals
      and we want to walk with you and believe in you, and believe what God
      can do through you.
      (I Tim. 4:10-16)
    </li>
    <li><br /><br /></li>

    <li class="bold-list-item">
      Power:
    </li>
    <li>
      <span style="font-style: italic">(Greek: dunamis: ability, might.
      Exousia: freedom or mastery, delegated influence, authority, power, strength)</span>
      This power is ignited in the believer and through prayer.
      (Luke 10:19)
    </li>
    <li><br /><br /></li>

    <li class="bold-list-item">
      Winning:
    </li>
    <li>
      Everyone loves a winner! And we will win in our personal lives and we will win
      those who are not yet believers. The kingdom of God is here. And Christ is
      that kingdom and Christ lives in you.
      (Col. 1:27)
    </li>
    <li><br /><br /></li>
  </ul>
</p>
{% endblock %}
