{% extends 'master.html' %}


{% block fullblock %}{% endblock %}

{% block paddedblock %}

  {% load static %}

  <h1 style="margin: 15px auto; text-align: left; font-family: 'Oswald', sans-serif; color: black; font-size: 45px;">
    We're Sorry!
  </h1>

  <div id="donation">
    <h1 style="font-family: sans-serif; color: black; font-size: 45px;">
        An error has occurred.
      </h1>
      <br />
      <p>
        There was an issue completing your donation, please try again later or go to our contact page and message us.
      </p>
  </div>
{% endblock %}
