{% extends 'master.html' %}

{% block fullblock %}{% endblock %}

{% block paddedblock %}
  <h1 style="font-family: sans-serif; font-size: 45px; margin-bottom: 36px;">Ministries:</h1>

  <p>
    <ul class="ministries-list">
      <li class="bold-list-item">
        Sunday-Celebration: Worship 10:00am - 12:00 Noon <span>*temporary location</span>
      </li>
      <li>
        23 Hamilton rd. <br />
        Dallas, PA 18612
      </li>
      <li><br /><br /></li>
      <li class="bold-list-item">
        Tuesday: Prayer Conference 8:00am
      </li>
      <li>
        Dial: 513-606-5309 <br />
        Access: 598400
      </li>
      <li><br /></li>
      <li class="bold-list-item">
        Friday Nights Alright: Prophetic Declaration Call
      </li>
      <li>
        Dial: 513-606-5309 <br />
        Access: 598400
      </li>
      <li><br /></li>
      <li class="bold-list-item">
        International Missions:
      </li>
      <li>
        To be announced...
      </li>
      <li><br /></li>
    </ul>
  </p>
{% endblock %}
