{% extends 'master.html' %}

{% block fullblock %}
{% load static %}
<div id="slider" class="owl-carousel">
  <div class="item"><img class="carousel-image" src="{% static 'mission_1.jpg' %}" alt="Carousel Image"></div>
  <div class="item"><img class="carousel-image" src="{% static 'mission_2.jpg' %}" alt="Carousel Image"></div>
  <div class="item"><img class="carousel-image" src="{% static 'mission_3.jpg' %}" alt="Carousel Image"></div>
  <div class="item"><img class="carousel-image" src="{% static 'mission_4.png' %}" alt="Carousel Image"></div>
  <div class="item"><img class="carousel-image" src="{% static 'ministries_family_crop.jpg' %}" alt="Carousel Image"></div>
</div>
{% endblock %}

{% block paddedblock %}
  <h1 style="font-family: 'Oswald', sans-serif; font-size: 45px; margin-bottom: 36px;">Ministries:</h1>

  <p>
    <ul class="ministries-list">
      <li class="bold-list-item">
        Sunday-Celebration: Worship 8:00pm <span>*temporary location</span>
      </li>
      <li>
        23 Hamilton rd. <br />
        Dallas, PA 18612
      </li>
      <li><br /><br /></li>
      <li class="bold-list-item">
        Tuesday: Prayer Conference 8:00am
      </li>
      <li>
        Dial: 513-606-5309 <br />
        Access: 598400
      </li>
      <li><br /></li>
      <li class="bold-list-item">
        Friday Nights Alright: Prophetic Declaration Call 10:00pm
      </li>
      <li>
        Dial: 513-606-5309 <br />
        Access: 598400
      </li>
      <li><br /></li>
      <li class="bold-list-item">
        International Missions:
      </li>
      <li>
        To be announced...
      </li>
      <li><br /></li>
    </ul>
  </p>
{% endblock %}
