{% extends 'master.html' %}

{% block fullblock %}{% endblock %}

{% block paddedblock %}
<h1 style="font-family: 'Oswald', sans-serif; font-size: 45px; margin-bottom: 36px;">Our Mission:</h1>

<p>
  <ul class="ministries-list">
    <li class="bold-list-item" style="text-align: center; text-decoration: none; font-style: italic;">
      We are a kingdom people of Freedom in Christ upheld by the word
      of God and the Holy Spirit
    </li>
    <li><br /><br /></li>
    <li>
      <ul>
        <li style="margin: 10px 0;">Transforming lives through the preaching and teachings of God's Holy Word (1st Cor. 1:18)</li>
        <li style="margin: 10px 0;">Building lives upon the identity of the believer (Gal 4:1-6)</li>
        <li style="margin: 10px 0;">Equipping lives to do the works of God themselves (Eph 4:12)</li>
      </ul>
    </li>
  </ul>
</p>
{% endblock %}
