{% extends 'master.html' %}

{% block fullblock %}{% endblock %}

{% block paddedblock %}
<h1 style="font-family: 'Oswald', sans-serif; font-size: 45px; margin-bottom: 36px;">What we believe:</h1>

<p>
  <ul class="ministries-list">
    <li class="bold-list-item">
      The Bible:
    </li>
    <li>
      The bible is the infallible revelation of God and is at the apex
      of all authoritative writings and standard binding rule of faith
      and practice. (II Tim 3:16-17, James 1:22)
    </li>
    <li><br /><br /></li>

    <li class="bold-list-item">
      The God Head:
    </li>
    <li>
      There is the only one living and true God, manifesting Himself
      in the persons of the Father, the Son, and the Holy Spirit.
      Though mysterious, yet undeniable in the Holy Writ - equal in
      every perfection and executing distinct and yet in harmony
      and concert with the mighty work of the Redemptive acts.
      (Deut 6:4, Gal 3:20)
    </li>
    <li><br /><br /></li>

    <li class="bold-list-item">
      Jesus Christ:
    </li>
    <li>
      We believe who Jesus said He was and IS in the Bible. We believe
      in His deity, virgin birth, sinless life, substitutionary death,
      and pyhsical resurrection on the 3rd day. According to the Word, He
      is the creator of all things. He stands outside of time.
      (Matt 1:23, Hebrews in its entirety, 1st Cor. 15:3-4, Col. 1:13-20, John 1:1)
    </li>
    <li><br /><br /></li>

    <li class="bold-list-item">
      Mankind:
    </li>
    <li>
      The whole Human race has a condition - namely in sin
      <span style="font-style: italic;">(greek: hamartia:
      trying to do the right thing, but coming short or falling short)</span>
      that so easily ensnares us. Apart from God - Mankind is without hope.
      However, the remedy is found through the shed blood of the Savior and
      Lord, Jesus - The Messiah.
      (Eph. 2:8-9, Rom. Ch.3-5)
    </li>
    <li><br /><br /></li>

    <li class="bold-list-item">
      Water Baptism:
    </li>
    <li>
      Repentance of sins comes before this ordinance of the church. In addition,
      being fully immersed - dunked in water is the Biblical perscription of
      water baptism, where the believer identifies with the death, burial, and
      resurrection of Jesus.
      (Rom. 6:3-5)
    </li>
    <li><br /><br /></li>

    <li class="bold-list-item">
      The Holy Spirit:
    </li>
    <li>
      We welcome the Holy Spirit into everything we do and cannot function in
      any form without Him. The Holy Spirit is alive and well and in operation
      actively through the believer and seeker with: prophecy, miracles, signs,
      and wonders for the edification of the church.
      (1st Cor. Chapter 12, Chapter 14)
    </li>
    <li><br /><br /></li>

    <li class="bold-list-item">
      The Great Commision:
    </li>
    <li>
      He said "Go", so we are compelled by the Spirit to do just that. To go
      into all the world and preach the good news! Preach <span style="font-style: italic;">
      (greek: evangelizo: to declare good tidings, refers to the good news of the gospel)</span>
      (Mat. 28:18-20)
    </li>
    <li><br /><br /></li>

    <li class="bold-list-item">
      Things to Come:
    </li>
    <li>
      The second coming of Jesus Christ and the Day of the Lord is imminent.
      (1st Thes. 4:14-17, 1st Pet. 3:3-18)
    </li>
    <li><br /><br /></li>
  </ul>
</p>
{% endblock %}
