{% extends 'master.html' %}

{% block fullblock %}{% endblock %}

{% block paddedblock %}
<h1 style="font-family: 'Oswald', sans-serif; font-size: 45px; margin-bottom: 36px;">Our Vision: L.I.F.T.</h1>

<p>
  <ul class="ministries-list">
    <li class="bold-list-item">
      L - Liberty:
    </li>
    <li>
      Proclaiming we are a people of liberty-freedom in every aspect
      of church life. Freedom to dance, sing, shout, lifting of hands,
      banners, sit, stand, kneel, cry, laugh etc. A place where we
      allow Holy Spirit and Gods Word to have their way. A place where
      we celebrate the expression and love of God-particularly in worship.
      <br /><br />
      Isaiah: 61:1-3, 1 Tim 2:8, Pslam 30 11-12, Luke 19:37-41, II Cor. 3:17
    </li>
    <li><br /><br /></li>
    <li class="bold-list-item">
      I - International:
    </li>
    <li>
      The message of the gospel is to be spread throughout all the
      world-its international. First to our local community- Secondly, to
      the Nation - Lastly, to All Nations. The message of the gospel is for
      all people and people groups.
      <br /><br />
      Acts 1:8, Mark 16:14-18
    </li>
    <li><br /><br /></li>
    <li class="bold-list-item">
      F - Fellowship:
    </li>
    <li>
      Developing relationships with one another (<i>fellowship</i>) and encouraging
      one another in our devotion to God. We need one another.
      <br /><br />
      Acts: 2:42
    </li>
    <li><br /><br /></li>
    <li class="bold-list-item">
      T - Transformation:
    </li>
    <li>
      The Word of God-Holy Spirit are interwoven in the believer and are not
      to be separated. They have the power to <i>transform</i> and change our lives
      from a sinner to saint. God is able to transform any situation for His Glory.
      <br /><br />
      II Corinthians 2:3-8, Romans 12: 1-2, Colossians 1:13-14
    </li>
  </ul>
</p>


<h1 style="font-family: 'Oswald', sans-serif; font-size: 36px; margin-top: 36px; margin-bottom: 36px;">Jesus' Public Ministry</h1>
<p style="font-family: 'Lato', sans-serif; margin: 15px auto; font-size: 20px; text-align: left;">
  And Jesus returned to Galilee in the power of the Spirit, and news about
  Him spread through all the surrounding district. And He began teaching
  in their synagogues and was praised by all. And He came to Nazareth, where
  He had been brought up; and as was His custom, He entered the synagogue on
  the Sabbath, and stood up to read. And the book of the prophet Isaiah was
  handed to Him. And He opened the book and found the place where it was written,
</p>

<p style="color: #292929; font-family: 'Lato', sans-serif; margin: 15px auto; font-style: italic; font-size: 20px; text-align: center;">
  The Spirit of the Lord God is upon me, <br />
  Because the Lord has anointed me <br />
  to bring the good news to the afflicted; <br />
  He has sent me to bind up the brokenhearted, <br />
  to proclaim liberty to captives <br />
  and freedom to prisoners; <br />
  To proclaim the favorable year of the Lord <br />
  and the day of vengence of our God; <br />
  To comfort all who mourn, <br />
  to grant those who mourn in Zion, <br />
  giving them garland instead of ashes, <br />
  the oil of gladness instead of mourning, <br />
  the mantle of praise instead of a spirit of fainting. <br />
  So they will be called oaks of righteousness, <br />
  the planting of the Lord, that He may glorify <br /><br />
  - Isaiah 61:1-3
</p>
{% endblock %}
