{% extends 'master.html' %}

{% block fullblock %}{% endblock %}

{% block paddedblock %}
<h1 style="font-family: 'Oswald', sans-serif; font-size: 45px; margin-bottom: 36px;">Steps to Receive Christ:</h1>

<p>
  <ul class="ministries-list">
    <li class="bold-list-item">
      1. The Mankind Problem (Romans 3:10, Romans 3:23, and Romans 6:23)
    </li>
    <li>
      The first part of the Romans Road confirms the state of every human as sinful and
      the state of God as holy.
      <ul>
        <li>
          “As it is written: “There is no one righteous, not even one;” (Romans
          3:10)
        </li>
        <li>
          “For all have sinned and fall short of the glory of God,” (Romans
          3:23)
        </li>
      </ul>

      After establishing that “all have sinned,” the first half of Romans 6:23 explains
      the depth of this problem and its consequences.
    </li>
    <li><br /><br /></li>

    <li class="bold-list-item">
      2. Mankind’s Hope in Christ (Romans 5:8)
    </li>
    <li>
      The second part of the Romans Road further explains the hope we have in the love
      of God expressed through Christ.
      <ul>
        <li>
          “But God demonstrates his own love for us in this: While we were stilf sinners,
          Christ died for us.” (Romans 5:8)
        </li>
      </ul>
    </li>
    <li><br /><br /></li>

    <li class="bold-list-item">
      3. The Sinner’s Response (Romans 10:9-10 and Romans 10:13)
    </li>
    <li>
      Once we understand our need for a savior and recognize that Jesus Christ is that
      savior, we can respond by moving along to the third part of the Romans Road,
      calling out to Jesus.
      <ul>
        <li>
          “If you declare with your mouth, ‘Jesus is Lord,’ and believe in your heart that God
          raised him from the dead, you will be saved. For it is with your heart that you
          believe and are justified, and it is with your mouth that you profess your faith and
          are saved.” (Romans 10:9-10)
        </li>
      </ul>
      This response is possible for everyone. Romans 10:13 expresses God’s ability to
      Save everyone. (His intention to save everyone is further expressed in John 3:16-
      417)
    </li>
    <li><br /><br /></li>

    <li class="bold-list-item">
      4. The Result of Salvation (Romans 5:1-2 and Romans 8:1)
    </li>
    <li>
      The fourth part of the Romans Road mentions two results (peace and justification)
      after a sinner decides to declare and believe in their heart that Jesus Christ is
      Lord. Romans 5:1-2 explains that through faith in Jesus Christ, sinners can enjoy
      peace with God, no longer separated from holy God by sin.<br />
      “Therefore, since we have been justified through faith, we have peace with God
      through our Lord Jesus Christ, through whom we have gained access by faith into
      this grace in which we now stand.” (Romans 5:1-2)<br />
      Romans 8:1 rejoices in the result of salvation. Before faith in Christ, all who have
      sinned were condemned by their sin and destined for death. But now with faith in
      Christ, “there is no condemnation” (Romans 8:1) and believers are gifted eternal
      life with God (Romans 6:23).<br />
      "Therefore, there is now no condemnation for those who are in Christ
      Jesus,” (Romans 8:1)
    </li>
    <li><br /><br /></li>
  </ul>
</p>
{% endblock %}
